---
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Locations from "../components/Locations.astro";
import Coaches from "../components/Coaches.astro";
import CallToAction from "../components/CallToAction.astro";

import mastheadImage from "../assets/images/court-movement.jpg";

import bookACourtC2AImage from "../assets/images/1A6A4359.jpg";
const bookACourtC2A = {
	file: bookACourtC2AImage,
	alt: "Drill session at Open Squash",
	position: "object-top",
};

import bryantPark from "../assets/images/bryant-park.jpg";
const bryantParkImage = {
	file: bryantPark,
	alt: "Image of players at the Open Squash Bryant Park location",
	position: "object-center",
};

const image = {
	file: mastheadImage,
	alt: "A squash court with players doing a court movement drill",
};

const title = "Our Story • Open Squash";
const seoTitle = "Our Story";
const seoDescription =
	"It’s no secret. We love squash. We love everything about it. With centers in Bryant Park and FiDi/downtown Manhattan, we're on a mission to make the game of squash accessible for everyone. Ask about our summer camps!";
---

<Layout {title} {seoTitle} {seoDescription}>
	<Masthead
		heading="Our<br/>Story"
		primaryColour="green"
		secondaryColour="blue"
		{image}
	/>
	<section class="px-20 space-y-40 py-80">
		<div class="w-full lg:w-1/2 max-w-[65ch] mx-auto rich-text">
			<p>
				It’s no secret. We love squash. We love everything about it: the
				way it forces us to focus on the next swing, the next point, the
				ball right in front of us and nothing else for an hour or so.
				The way it bonds us to a community of people who are just as
				squash-obsessed as we are. We love how it makes us sweat—not in
				a boring, walk-on-the-treadmill kind of way, but in a fun,
				fast-paced, oh-my-gosh-I-forgot-I-was-even-exercising kind of
				way, And most of all, we love how squash makes us aim higher.
			</p>
			<p>
				We opened in 2020 with the simple mission of bringing this
				amazing sport to more people–at every level and from all walks
				of life. Young people. Old people. Women. Men. Nonbinary people.
				People who can afford to pay and people who can’t.
			</p>
		</div>
	</section>
	<Locations />
	<CallToAction
		text="Book a court, lesson, or clinic."
		theme="red"
		image={bookACourtC2A}
		position="right"
		textSize="large"
		links={[
			{
				text: "Bryant Park",
				url: "https://bryantpark.opensquash.org/programs?facility_id=645&category=&search=&view=grid",
				style: "hover:bg-red hover:text-white border-red focus:ring-red focus:ring-offset-white",
				external: true,
			},
			{
				text: "FiDi",
				url: "https://fidi.opensquash.org/programs?facility_id=646&category=&search=&view=grid",
				style: "bg-red text-white hover:bg-white hover:text-red border-red focus:ring-red focus:ring-offset-white",
				external: true,
			},
		]}
	/>
	<Coaches />

	<CallToAction
		text="Join the Community. Meet new Friends. Get Fit. Have Fun."
		theme="blue"
		image={bryantParkImage}
		position="left"
		textSize="small"
		links={[
			{
				text: "Join Bryant Park",
				url: "https://bryantpark.opensquash.org/f/opensquashbryantpark/memberships",
				style: "hover:bg-blue hover:text-blue-light border-blue focus:ring-blue focus:ring-offset-blue-light",
				external: true,
			},
			{
				text: "Join FiDi ",
				url: "https://fidi.opensquash.org/f/opensquashfidi/memberships",
				style: "bg-blue text-blue-light hover:bg-blue-light hover:text-blue border-blue focus:ring-blue focus:ring-offset-blue-light",
				external: true,
			},
		]}
	/>
</Layout>
