---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import campImage from "../assets/images/1A6A0152.jpg";
import mastheadImage from "../assets/images/holiday-camp.jpg";
const image = {
	file: campImage,
	alt: "Coaching at an Open Squash summer camp",
};

const title = "Squash Summer Camp • Open Squash";
const seoTitle = "Squash Summer Camp";
const seoDescription =
	"We opened in 2020 with the simple mission of bringing this amazing sport to more people–at every level and from all walks of life.";
---

<Layout {title} {seoTitle} {seoDescription}>
	<Masthead
		heading="Squash<br/>Summer<br/>Camp"
		primaryColour="yellow"
		secondaryColour="forest"
		{image}
	/>
	<section class="px-20 space-y-40 py-80">
		<div class="w-full lg:w-1/2 max-w-[65ch] mx-auto">
			<h2 class="text-heading-sm sm:text-heading">
				<span class="text-green">Squash Summer Camp</span> For All.
			</h2>
		</div>
		<figure class="w-full lg:w-1/2 mx-auto">
			<Picture
				src={mastheadImage}
				alt="Children and adults on a squash court"
				widths={[400, 800, 1200, 1600]}
				formats={["webp", "avif"]}
				fallbackFormat="jpg"
				class="w-full"
			/>
		</figure>
		<div class="w-full lg:w-1/2 max-w-[65ch] mx-auto">
			<ul class="list-disc list-inside">
				<li>Camps for all levels and ages.</li>
				<li>Early bird pricing and financial aid available.</li>
				<li>Sibling discounts available.</li>
			</ul>
		</div>
		<div class="w-full lg:w-1/2 max-w-[65ch] mx-auto">
			<h2 class="text-heading-xs sm:text-heading-sm pb-20">
				Sign Up Today!
			</h2>
			<div class="flex flex-wrap -m-10 items-start">
				<a
					href="https://bryantpark.opensquash.org/programs?facility_id=645&category=Camp&search=&view=grid"
					class="border-black bg-yellow text-black hover:bg-green hover:text-blue hover:border-blue transition-colors border rounded-lg px-20 py-10 font-bold m-10"
					>Bryant Park</a
				>
				<a
					href="https://fidi.opensquash.org/programs?facility_id=646&category=Camp&search=&view=grid"
					class="border-black bg-yellow text-black hover:bg-blue hover:text-green hover:border-green transition-colors border rounded-lg px-20 py-10 font-bold m-10"
					>FiDi</a
				>
			</div>
		</div>
	</section>
	<section class="px-20 space-y-40 py-80 border-t">
		<div class="w-full lg:w-1/2 max-w-[65ch] mx-auto" x-data="form" x-cloak>
			<h2 class="text-heading-xs sm:text-heading-sm pb-20">
				Sign Up for 2024 Summer Camp Updates Now!
			</h2>
			<div x-show="success">
				<p class="pb-20">
					Hi <span x-text="name"></span>, thankyou for signing up for
					Summer Camp 2024 updates.
				</p>
			</div>
			<div x-show="!success">
				<form
					data-netlify="true"
					name="summer camp 2024"
					method="POST"
					x-validate
					class="form"
				>
					<!-- action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=00D0b000000CDCM" -->
					<input
						type="hidden"
						name="subject"
						:value="`Summer Camp 2024 registration from ${firstName} ${secondName}`"
					/>
					<input type="hidden" name="oid" value="00D0b000000CDCM" />
					<input
						type="hidden"
						id="lead_source"
						name="lead_source"
						value="Summer Camp Inquiries"
					/>
					<fieldset>
						<label for="first_name">First Name</label>
						<input
							type="text"
							name="first_name"
							maxlength="40"
							x-model="firstName"
							placeholder="Jahangir"
							data-error-msg="a first name is required"
							x-validate.required
						/>
					</fieldset>
					<fieldset>
						<label for="last_name">Second Name</label>
						<input
							type="text"
							name="last_name"
							maxlength="80"
							x-model="secondName"
							placeholder="Khan"
							data-error-msg="a second name is required"
							x-validate.required
						/>
					</fieldset>
					<fieldset>
						<label for="email">Email</label>
						<input
							type="email"
							name="email"
							maxlength="80"
							placeholder="goat@squashmaster.com"
							data-error-msg="an email is required"
							x-validate.required
							x-validate.email
						/>
					</fieldset>
					<fieldset>
						<label for="phone">Phone Number</label>
						<input
							type="tel"
							name="phone"
							maxlength="40"
							placeholder="576 731-6777"
						/>
					</fieldset>
					<fieldset>
						<label for="00N5a00000CiOwW">Experience Level</label>
						<select
							name="00N5a00000CiOwW"
							x-validate.required
							data-error-msg="you must pick an experience level"
						>
							<option value="" disabled selected
								>Choose Experience</option
							>
							<option value="Beginner">Beginner</option>
							<option value="Intermediate">Intermediate</option>
							<option value="Advanced">Advanced</option>
						</select>
					</fieldset>
					<button
						id="formSubmit"
						type="submit"
						class="flex items-center disabled:opacity-50 disabled:pointer-events-none text-black hover:text-yellow hover:bg-black transition-colors bg-yellow border-black border rounded-lg px-20 py-10 font-bold"
						x-on:click.prevent="submitForm()"
						x-on:submit.prevent="submitForm()"
						x-bind:disabled="!$validate.isComplete($root.querySelector('form'))"
					>
						Submit
						<svg
							class="w-rem ml-10"
							xmlns="http://www.w3.org/2000/svg"
							stroke="currentColor"
							viewBox="0 0 18 16"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M1.5 7.69995h15m0 0L9.75.949951M16.5 7.69995 9.75 14.45"
							></path>
						</svg>
					</button>
				</form>
			</div>
		</div>
	</section>
</Layout>
