---
import { Picture } from "astro:assets";
const { coach } = Astro.props;
---

<li
	x-data="{ bioOpen: false }"
	class="swiper-slide !w-[calc(100vw-64px)] sm:!w-[calc(calc(100vw-104px)/2)] lg:!w-[calc(calc(100vw-136px)/3)]"
>
	<div class="bg-green border border-blue rounded flex flex-col h-full">
		{
			coach.image && (
				<Picture
					src={coach.image}
					alt={coach.name}
					widths={[400, 800, 1200]}
					sizes="100vw"
					formats={["webp", "avif"]}
					fallbackFormat="jpg"
					pictureAttributes={{
						class: "w-full h-[25rem] min-h-[25rem] ",
					}}
					class="object-cover w-full h-full object-top"
				/>
			)
		}
		<div
			class="border-t text-blue border-blue p-20 flex h-full flex-col justify-between grow"
		>
			<div class="pb-40">
				<h3 class="text-heading-sm pb-10">
					{coach.name}
				</h3>
				<p class="text-body-md">
					{coach.position}
				</p>
				{coach.details && <p class="text-label">{coach.details}</p>}
			</div>
			<div class="flex flex-wrap -m-10 items-start">
				<button
					@click="bioOpen = true"
					class="inline-block text-black hover:text-yellow hover:bg-black transition-colors bg-yellow border-black border rounded-lg px-20 py-10 font-bold m-10"
				>
					Read Bio
				</button>
				{
					coach.link && (
						<a
							href={coach.link}
							target="_blank"
							class="inline-block text-black m-10 hover:text-yellow hover:bg-black transition-colors bg-yellow border-black border rounded-lg px-20 py-10 font-bold"
						>
							Book Lesson
						</a>
					)
				}
			</div>
		</div>
	</div>
	<template x-teleport="body">
		<div>
			<button
				x-show="bioOpen"
				x-transition.opacity
				@click="bioOpen = false"
				aria-label="Hide Bio"
				class="fixed z-50 top-10 right-10 sm:top-20 sm:right-20 p-15 sm:p-25 lg:p-35 border border-blue text-blue hover:text-white transition-colors bg-green"
			>
				<div class="h-20 w-20 sm:w-30 sm:h-30 relative">
					<span
						class="absolute inset-x-0 w-full h-2 bg-current transition-transform rotate-45 top-9 sm:top-14"
					></span>
					<span
						class="absolute inset-x-0 -rotate-45 bottom-9 sm:bottom-14 w-full h-2 bg-current transition-transform"
					></span>
				</div>
			</button>
			<div
				x-show="bioOpen"
				x-trap.noscroll="bioOpen"
				x-transition.opacity
				@keydown.escape.window="bioOpen = false"
				class="fixed top-[4rem] sm:top-[6.5rem] lg:top-124 inset-x-0 bottom-0 bg-white pt-0 px-10 pb-10 sm:px-20 sm:pb-20"
			>
				<div
					@click.outside="bioOpen = false"
					class="w-full h-full border-t-0 border flex flex-col divide-y divide-blue overflow-y-scroll"
				>
					<div
						class="w-full lg:w-1/2 max-w-[65ch] p-20 mx-auto space-y-20"
					>
						<div class="flex space-x-20 items-end">
							<Picture
								src={coach.image}
								alt={coach.name}
								widths={[400, 800, 1200]}
								sizes="100vw"
								formats={["webp", "avif"]}
								fallbackFormat="jpg"
								pictureAttributes={{
									class: "w-1/3",
								}}
								class="w-full"
							/>

							<div>
								<h3 class="text-heading-sm pb-10">
									{coach.name}
								</h3>
								<p class="text-body-md">
									{coach.position}
								</p>
								{
									coach.details && (
										<p class="text-label">
											{coach.details}
										</p>
									)
								}
							</div>
						</div>
						<p>{coach.bio}</p>
						{
							coach.link && (
								<a
									href={coach.link}
									target="_blank"
									class="inline-block text-black hover:text-yellow hover:bg-black transition-colors bg-yellow border-black border rounded-lg px-20 py-10 font-bold"
								>
									Book Lesson
								</a>
							)
						}
					</div>
				</div>
			</div>
		</div>
	</template>
</li>
