---
import { Picture } from "astro:assets";

const cardStyles = {
	greenBlue: "bg-green text-blue",
	blueGreen: "bg-blue text-green",
};

const { theme, id, title, address, facalities, link, image } = Astro.props;
---

<div
	class:list={["border rounded", `${cardStyles[theme]}`]}
	x-show={`activeItem == '${id}'`}
	role="article"
>
	<Picture
		src={image.file}
		alt={image.alt}
		widths={[200, 400, 800]}
		formats={["webp", "avif"]}
		fallbackFormat="jpg"
		class="w-full h-[200px] object-cover rounded-t"
	/>
	<a
		href={link}
		target="_blank"
		class="p-20 border-t group block focus:outline-none focus:ring-0 focus:ring-offset-0"
	>
		<h3 class="text-heading-sm pb-10">{title}</h3>
		<p class="text-body-md pb-5">{address}</p>
		<p class="text-label pb-20">{facalities}</p>
		<div
			class="inline-block text-black group-hover:text-yellow group-hover:bg-black transition-colors bg-yellow border-black border rounded-lg px-20 py-10 font-bold group-focus:ring-2 group-focus:ring-blue group-focus:ring-offset-2 group-focus:ring-offset-white"
		>
			Read More
		</div>
	</a>
</div>
