---
interface Props {
	theme: "greenBlue" | "blueGreen";
	latlng: string;
	id: string;
}

const hoverStyles = {
	greenBlue: "hover:fill-green hover:text-blue",
	blueGreen: "hover:fill-blue hover:text-green",
};

const activeStyles = {
	greenBlue: "fill-green text-blue",
	blueGreen: "fill-blue text-green",
};

const { theme, latlng, id } = Astro.props as Props;
---

<div
	data-latlng={latlng}
	@click={`toggleActiveItem(${id}, [${latlng}])`}
	class:list={["location !transition-colors w-60 ", `${hoverStyles[theme]}`]}
	:class={`activeItem == ${id} ? '${activeStyles[theme]}' : 'fill-white'`}
>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 76">
		<path
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M59 30.25c0 13.9172-7.3076 24.9296-14.7154 32.5143-3.6976 3.7858-7.3981 6.694-10.1741 8.6551-1.3872.9799-2.5413 1.7219-3.3458 2.2172-.3087.1901-.5658.3438-.7647.4607-.1989-.1169-.456-.2706-.7647-.4607-.8045-.4953-1.9586-1.2373-3.3458-2.2172-2.776-1.9611-6.4765-4.8693-10.1741-8.6551C8.30757 55.1796 1 44.1672 1 30.25c0-7.6913 3.05535-15.0675 8.4939-20.5061C14.9325 4.30535 22.3087 1.25 30 1.25s15.0675 3.05535 20.5061 8.4939C55.9447 15.1825 59 22.5587 59 30.25Z"
		></path>
		<path
			fill="currentColor"
			fill-rule="evenodd"
			d="M30.2936 48.2499h-.8989c-.0125-.0016-.025-.0035-.0375-.0054-.025-.0038-.05-.0076-.0749-.009-.1115-.0067-.223-.0128-.3346-.0188h-.0001c-.2163-.0117-.4325-.0234-.6484-.0405-.6996-.055-1.392-.1618-2.0789-.3052-1.3976-.2924-2.7402-.7466-4.0226-1.3729-2.8842-1.408-5.217-3.449-7.0005-6.1159-.7307-1.0928-1.3235-2.2573-1.7899-3.486-.009-.0239-.017-.0484-.0261-.076v-.0001c-.005-.0151-.0102-.0311-.0161-.0486h14.024c.3035 0 .607.0007.9105.0014h.0002c.4807.0012.9615.0023 1.4421.0006.2388-.0008.478-.0116.7159-.0319.5657-.0478 1.1118-.1836 1.6388-.3936 2.3767-.9474 4.1012-3.3984 3.8058-6.2908-.0781-.7665-.2926-1.4912-.6486-2.1741-.9403-1.8027-2.8725-3.2848-5.4469-3.286-1.5324-.0008-3.0647-.0005-4.5972-.0003-.7662.0002-1.5325.0003-2.2989.0003h-9.5302c-.0006-.0069-.0015-.0122-.0022-.0163-.0009-.0061-.0015-.0099-.0006-.0132l.0018-.0054c.0102-.0313.0204-.0629.0325-.0938 1.0843-2.8314 2.7765-5.2378 5.0966-7.1887 3.0169-2.5375 6.5057-3.9044 10.4415-4.1279.6434-.0366 1.2872-.0291 1.931.0088.688.0402 1.3713.1187 2.0494.239 1.0787.1913 2.1319.4769 3.154.8713 3.3573 1.2944 6.0788 3.4104 8.1509 6.3486 1.7022 2.4135 2.712 5.0979 3.0604 8.0298.0658.5538.106 1.1099.1044 1.6681 0 .0663.0045.1323.0089.1985l.0001.0003c.0009.0146.0019.0292.0028.0438.0009.0142.0018.0284.0026.0426v.1722c-.0013.0135-.0027.027-.0042.0405-.0034.0306-.0067.061-.007.0917-.002.6379-.0414 1.2729-.1188 1.906-.0865.7087-.2124 1.4099-.3855 2.1023-.7171 2.8685-2.0677 5.402-4.0605 7.5852-2.275 2.492-5.0439 4.1948-8.2948 5.1095-.9372.2638-1.8912.4435-2.8599.5391-.2909.0287-.5831.0453-.8752.0618l-.0004.0001c-.1373.0077-.2745.0155-.4116.0245-.0239.0017-.0476.0054-.0713.0092-.0107.0016-.0213.0033-.0319.0048v.0004ZM12.61 27.2812c.0822-.4319.1814-.8455.2962-1.2618h13.0159c-.006.0069-.0114.0132-.0164.0192-.0101.0122-.0189.0226-.029.0314-.3951.3418-.7439.7247-1.0404 1.1546-.0288.0414-.0594.0633-.1101.0566-.0125-.0016-.0253-.0011-.0382-.0006-.0064.0003-.0128.0006-.0192.0006H12.61Zm.2946 8.0672h12.9908c.0038-.0051.0074-.0104.011-.0156.0025-.0038.0051-.0075.0078-.0111-.0055-.003-.0112-.0058-.0169-.0085-.0114-.0055-.0229-.011-.0322-.019-.3946-.3418-.7422-.7259-1.0372-1.1569-.0359-.0522-.0782-.0546-.1304-.0546-3.9943.0004-7.9887.0004-11.983.0004h-.1057c.0806.4334.181.8494.2958 1.2653Zm11.1762-6.6426c-.1383.416-.2352.8327-.2842 1.2658H12.2927c.0172-.4247.0471-.8426.0969-1.257.0753-.0199 11.4855-.0287 11.6916-.0088h-.0004ZM12.3904 32.662h11.688c-.1395-.4144-.2312-.8319-.2838-1.257-.0074-.0013-.0137-.0025-.0193-.0036h-.0001c-.0117-.0023-.0201-.0039-.0284-.0039H12.3497c-.01 0-.0203.0021-.0305.0041l-.0001.0001c-.0023.0004-.0046.0009-.0068.0013-.0028.0008-.0056.0032-.0076.0052-.0014.0014-.0025.0029-.0047.0059-.0017.0022-.0039.0053-.0073.0096.0196.4076.0455.8224.0977 1.2383Zm17.4531-2.6315c-.3779 0-.68-.3027-.68-.6808 0-.3777.3025-.6801.6808-.6801.3779 0 .6805.3028.6805.6805 0 .3776-.3034.6804-.6809.6804h-.0004Zm-.68 1.9944c-.0016.3793.2981.6825.6761.6841l-.0004.0004c.3799.0012.6836-.298.6852-.6753.0016-.3785-.2998-.6841-.6761-.6857-.3779-.0015-.6832.3-.6848.6765Z"
			clip-rule="evenodd"></path>
	</svg>
</div>
