---
import { ViewTransitions } from "astro:transitions";

import "../styles/app.pcss";

import Header from "../components/Header.astro";
import Ticker from "../components/Ticker.astro";
import Footer from "../components/Footer.astro";

const {
	title = "Open Squash",
	seoTitle = "Open Squash",
	seoDescription,
} = Astro.props;
---

<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content={seoDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-active.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={seoDescription} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:title" content={seoTitle} />
		<meta property="og:site_name" content={seoTitle} />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:description" content={seoDescription} />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:width" content="630" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={seoTitle} />
		<meta name="twitter:description" content={seoDescription} />
		<meta property="og:image" content="/seo/og-open_squash.png" />
		<meta name="twitter:image:src" content="/seo/twitter-open_squash.png" />
		<!-- content={`${Astro.url.origin}/seo/twitter-open_squash.png`} -->
		<meta name="twitter:image:width" content="1200" />
		<meta name="twitter:image:height" content="600" />
		<meta name="twitter:site" content="@WeAreOpenSquash" />
		<meta name="twitter:creator" content="@WeAreOpenSquash" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<style is:inline>
			[x-cloak] {
				display: none !important;
			}
		</style>
		<script src="../scripts/app.js"></script>
		<meta
			name="facebook-domain-verification"
			content="usmn0arhffheeqmuaietcdyvum7akx"
		/>
		<meta
			name="google-site-verification"
			content="lwNaTAjv7uYJce8vzTjtkSCZ_ghldIGqCYwiVaj3QlQ"
		/>
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({
					"gtm.start": new Date().getTime(),
					event: "gtm.js",
				});
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-PQL3DML");
		</script>
		<script is:inline type="text/javascript">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "GTM-PQL3DML");
		</script>
		<ViewTransitions fallback="none" />
	</head>
	<body class="flex flex-col min-h-screen bg-white pb-10 sm:pb-20">
		<Header />
		<Ticker />
		<main
			class="flex flex-col grow pt-[4rem] sm:pt-[6.5rem] lg:pt-124 mx-10 sm:mx-20 border-t-0 border isolate z-0"
		>
			<slot />
		</main>
		<Footer />
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-PQL3DML"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
	</body>
</html>
